events { worker_connections 1024; }

http {
  server {
    listen      8000;
    server_name localhost;

    resolver 169.254.169.253 valid=10s ipv6=off;

    location /api {
      set $backend "http://$BACKEND_SERVICE";
      rewrite /api/(.*) /$1 break;
      proxy_pass $backend/;
    }

    location / {
      proxy_pass http://$FRONTEND_SERVICE/;
    }
  }
}
