events { worker_connections 1024; }

http {
  server {
    listen      9000;
    server_name localhost;

    location /api {
      rewrite /api/(.*) /$1 break;
      proxy_pass http://$BACKEND_SERVICE/;
    }

    location / {
      proxy_pass http://$FRONTEND_SERVICE/;
    }
  }
}
